h3 {  
        width: 400px; 
         height:0.5cm; 
         padding    : 20px; 
        margin-left     : 100px; 
        border     : 10px outset blue; 
        background : rgb(100,100,100); 
	font-size:11px;
    } 
